# Files
story_graph.dot
*.db
*.db-shm
*.db-wal
index.html
webchat.js
showdown.min.js
github-markdown.css
requirements.txt
requirements_pip.txt
alameda-chatbot.yml
test_stories.yml
sentiment_old.py
sentimentClasses.py
test.py
alameda_endpoints.csv
requirements_pip.txt
requirements_pip_sm.txt
requirements.txt
unic_iam_credentials.json
archived_stories.yml
refresh_generated_token.py
generatedTokens.csv
zenon.log

# Folders
__pycache__/
.idea/
ZenonEnv/
train_test_split/
results/
.vscode

# Files in folders
actions/__pycache__
models/*.tar.gz
testers_ids.csv