# Files
story_graph.dot
.db
.db-shm
.db-wal
index.html
webchat.js
showdown.min.js
github-markdown.css
requirements.txt
requirements_pip.txt
alameda-chatbot.yml

# Folders
__pycache__/
.idea/
ZenonEnv/

# Files in folders
actions/__pycache__
models/*.tar.gz